* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  background-image: linear-gradient(to right, #3b6cc2, #230657);
}

header h1 {
  padding-top: 6px;
  padding-bottom: 12px;
  color: white;
  text-align: center;
}

.container {
  margin: 0;
}

/* Search column */

.searchCity h2 {
  font-weight: bolder;
  font-size: 23px;
}

.searchCity input {
  padding: 6px;
  margin: 4px 0;
  width: 100%;
}

#searchBtn {
  text-decoration: none;
  background-color: #5aa2e9;
  color: #e4f0f8;
  border-radius: 4px;
  width: 100%;
  margin: 8px 0 10px 0;
  border: none;
  padding: 3px;
}

#searchBtn:hover {
  background-color: #70b1f1;
}

#searchArea {
  border-bottom: #828282 solid 2px;
  margin: 4px 0;
}

.searchBtnHistory {
  text-decoration: none;
  background-color: rgb(167, 167, 167);
  color: rgb(29, 29, 29);
  border-radius: 4px;
  width: 100%;
  margin: 6px 0;
  border: none;
  padding: 3px;
}

.searchBtnHistory:hover {
  background-color: rgb(199, 197, 197);
}
/* Info Column */

#currentDay {
  border: #828282 solid 2px;
  padding: 8px;
}

.displayInfo h2 {
  font-weight: bolder;
  padding: 4px;
}

#fiveDay {
  width: 100%;
  justify-content: space-between;
}

#fiveDay h3 {
  font-weight: bold;
  padding: 12px 0 2px 0;
}

#cardsDisplay div {
  display: inline-flex;
  width: 18%;
  background-color: #33475a;
  color: white;
  padding: 6px;
  margin: 2px 7px;
}

/* UV colors */
.lowUv {
  background-color: green;
  color: white;
  width: 10%;
  padding: 2px;
  border-radius: 6%;
}

.mediumUv {
  background-color: yellow;
  color: black;
  width: 10%;
  padding: 2px;
  border-radius: 6%;
}

.highUv {
  background-color: red;
  color: white;
  width: 14%;
  padding: 2px;
  border-radius: 6%;
}

.weekCards {
  display: block;
  padding: 8px;
}

#cardsDisplay div div {
  font-size: 15px;
  display: block;
}
